/* 
Reset Estilos */

*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    
}

/*Globales */

body{
    font-family:'Montserrat'
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    padding: 10px;
    text-decoration: none;
}

ul li a{
    text-decoration: none;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1320px;
}

/* top Bar */

.topBarcolor{
    background-color:#4649d6;
}

.topBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.topBar a {
    font-size: 0.8rem;
    color:#fff;
}
.topBar i{
    font-size: 1.5rem;
    padding: 10px;
}

/* menu */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 2rem 0;
}

.menu__logo{
    width: 150px;
}
.menu ul li a:hover {
border-bottom: solid 1px;
}

/* info servicio */

.info {
    background-color: rgba(161, 158, 158, 0.247);
}

.info__servicio h1{
    font-size: 2.0rem;
    color :#4649d6;
}

.info__servicio p {
    font-weight: 200;
    color: rgb(41, 44, 48);
}

.info div img {
    width: 100%;
    padding-top: 1rem;
}

.info--color{
    background-color: rgb(255, 255, 255);
}

/* parallax */

.parallax {
    background-image: url(../img/medico.jpg);
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax h3 {
    font-size: 2rem;
    text-align: center;
    padding-top:100px;
    color: midnightblue;
}
.parallax p {
    padding-top: 1.5rem;
    text-align: center;
}

.footer{
    background-color:#0f1047;
}

.footer__logo img{
    display: block;
    margin: auto;
    width: 160px;

}

.footer__redes p {
    color: seashell;
    text-align: center;
}

.serviciosclase{
    display: flex; /*Crear cajas flexibles*/
    flex-direction:row; /*Direccion de las cajas flexibles*/
    flex-wrap: wrap; /*Permite que una caja se monte encima de la otra al reducir la pantalla*/
   /* flex-flow:;xxxxsirve para unir flex direccion y wrap*/
    justify-content:space-evenly;
    align-items: center;
}

.servicios{
    width: 300px;
    height: 200px;
    border:1px solid coral;
    border-radius: 20px;
    background-color: #0f1047;
    margin-top: 20px;
}

.servicio1-color{
    text-align: center;
    align-self: flex-end;
}